.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-md) var(--gap-xl);
  background-color: var(--surface);
  border-top: 1px solid var(--bg);
  color: var(--text);
}

.text {
  margin: 0;
  font-size: var(--font-size-sm);
}

.socials {
  display: flex;
  gap: var(--gap-md);
}

.link {
  color: var(--muted);
  transition: color var(--transition-fast);
}

.link:hover {
  color: var(--text);
}