.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-md) var(--gap-xl);
  border-bottom: 1px solid var(--bg);
  background-color: var(--surface);
  color: var(--text);
}

.logo {
  font-size: var(--font-size-lg);
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: var(--gap-md);
}